<div id="content">
    <p id="error">{{ error }}</p>
    <p>Reviews in progress: {{ reviews|length }}</p>
    {% if reviewers|length == 0 %}
        <p class="text-danger fw-bold">Error, no free reviewers available for this guide at least three reviewers are
            neccessary</p>
    {% endif %}
    <table id="table" class="table tableDarkAcrylic">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Reviewer</th>
            <th scope="col">Action</th>
            <th scope="col">Informative</th>
            <th scope="col">Theme</th>
            <th scope="col">Originality</th>
            <th scope="col">Quality</th>
            <th scope="col">Overall</th>
        </tr>
        </thead>

        <tbody>
        {% for i in 0..2 %}
            <tr>

            {% if reviews[i] is defined %}
                {% set review = reviews[i] %}

                {% if review.is_finished == "1" %}
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ review.username }}</td>
                    <td>
                        <button class="btn btn-danger" onclick="deleteReview('{{ review.id }}', '{{ guide.id }}')">Remove</button>
                    </td>
                    <td>{{ review.info_score }}</td>
                    <td>{{ review.complexity_score }}</td>
                    <td>{{ review.efficiency_score }}</td>
                    <td>{{ review.quality_score }}</td>
                    <td>{{ review.overall_score }}</td>
                {% else %}
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ review.username }}</td>
                    <td>
                        <button onclick="deleteReview('{{ review.id }}', '{{ guide.id }}')"
                                class="btn btn-danger">Remove
                        </button>
                    </td>
                    <td>{{ 'In progress' }}</td>
                    <td>{{ 'In progress' }}</td>
                    <td>{{ 'In progress' }}</td>
                    <td>{{ 'In progress' }}</td>
                    <td>{{ 'In progress' }}</td>
                {% endif %}
            {% else %}
                {% if reviewers|length > 0 %}
                    <th scope="row">{{ i + 1 }}</th>
                    <td>
                        <select id="userSelection{{ i }}" class="form-control form-control-sm">
                            {% for reviewer in reviewers %}
                                <option value="{{ reviewer.id }}">{{ reviewer.username }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <button onclick="createReview(
                                'userSelection{{ i }}', '{{ i }}', '{{ guide.id }}', '{{ guide.name }}'
                                )"
                                class="btn btn-primary">
                            Add to Review
                        </button>
                    </td>
                    <td>{{ '-' }}</td>
                    <td>{{ '-' }}</td>
                    <td>{{ '-' }}</td>
                    <td>{{ '-' }}</td>
                    <td>{{ '-' }}</td>
                    </tr>

                {% endif %}
            {% endif %}
        {% endfor %}
        </tbody>

    </table>

    {% if reviews|length == 3 %}
        <div class="d-flex">
            <div class="ml-auto">
                <button class="btn btn-danger">Remove Guide</button>
                <button class="btn btn-primary">Release Guide</button>
            </div>
        </div>
    {% endif %}
</div>